<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            PSITS
        </a>
        {% if request.path == '/admin_page/' %}
        <a href="{% url 'admin:index' %}">Django Admin</a>
        <a href="{% url 'home' %}">Logout</a>
        {% else%}
        <a href="{% url 'admin_page' %}">Admin</a>
        {% endif %}
    </div>
</nav>