{% load static %}

<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/cit-logo2.png' %}" alt="Logo" width="50" height="50"
                class="d-inline-block align-text-top">
            <img src="{% static 'images/psits-logo2.png' %}" alt="Logo" width="50" height="50"
                class="d-inline-block align-text-top">
            <h2 class="navbar-title">Attendance System</h2>
        </a>
        <div>
            {% if request.path == '/admin_page/' %}
            <a class="navbar-link" href="{% url 'admin:index' %}">Django Admin</a>
            <a class="navbar-link" href="{% url 'home' %}">Logout</a>
            {% else %}
            <a class="navbar-link" href="{% url 'admin_page' %}">Admin</a>
            {% endif %}
        </div>
    </div>
</nav>