{% extends 'attendance/main.html' %}

{% load static %}

{% block body_class %}home-bg{% endblock %}

{% block content %}

<div class="home-page">
    <div class="home-content">

        {% if event %}
        <h1>{{ event.name }} ({{ event.start_datetime.date }})</h1>
        {% if session %}
        {% if session_status == "active" %}
        <h3>{{ session.session_name }}</h3>
        <h4>
            Attendance: {{ session.start_time }} - {{ session.end_time|time:"g:i a" }} |
            Cut-off: {{ session.grace_end_time }}
        </h4>
        {% elif session_status == "upcoming" %}
        <h3>Upcoming session: {{ session.name }}</h3>
        <h4>(Starts at {{ session.start_time }})</h4>
        {% endif %}
        {% else %}
        <h3>No more sessions today.</h3>
        {% endif %}
        {% else %}
        <h1>No events scheduled today.</h1>
        <h3>No sessions available for this event.</h3>
        {% endif %}

        <input type="text" id="rfidInput" placeholder="Scan RFID" autofocus>
        <p id="message">Scan your RFID to mark attendance.</p>
        <p id="note">-----</p>

    </div>
</div>

<script>
    // Listen for RFID input (Enter key press)
    document.getElementById("rfidInput").addEventListener("keypress", function (e) {
        if (e.key === "Enter") {
            let rfid = this.value;
            fetch("/mark_attendance/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({ rfid: rfid })
            })
                .then(response => response.json())
                .then(data => {
                    let msgBox = document.getElementById("message");
                    let noteBox = document.getElementById("note");
                    msgBox.innerText = data.message;
                    noteBox.innerText = data.note;
                    msgBox.style.color = data.success ? "green" : "red";
                    this.value = ""; // clear input after scan
                });
        }
    });
</script>



{% endblock %}